.navbar {
  height: 56px;
  width: 100%;
  min-width: 900px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1030;
  border-bottom: 1px solid #f0f0f0;
}

.img-wrapper {
  height: 100%;
}

.logo {
  height: 100%;
}

.home,
.download {
  display: inline-block;
  height: 100%;
  padding: 15px;
  line-height: 26px;
  overflow: hidden;
  margin-right: 10px;
}

.home:hover,
.download:hover {
  background-color: #f5f5f5;
}

.active {
  color: #ea6f5a;
  background: none !important;
}

.search {
  display: inline-flex;
  position: relative;
  vertical-align: top;
  align-items: center;
  height: 56px;
  min-width: 160px;
}

.input {
  padding: 0 40px 0 20px;
  width: 160px;
  height: 38px;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 40px;
  background: #eee;
  transition: width .5s;
  will-change: width;
  transition-delay: .1s;
  outline: 0;
  color: inherit;
}

.input:focus {
  width: 240px;
}

.icon-search {
  line-height: 30px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  transition: background-color .5s;
  will-change: background-color;
  right: 5px;
  border-radius: 50%;
}

.icon-search-focus {
  background-color: #969696;
  color: #fff;
}

.search-tip {
  position: absolute;
  visibility: hidden;
  top: 56px;
  left: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  border-radius: 4px;
}

.search-tip-focus {
  visibility: visible;
}

.search-tip:hover {
  visibility: visible;
}

.search-tip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  transform: rotate(45deg);
  left: 25px;
  top: -5px;
  z-index: -1;
}

.search-tip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  left: 20px;
  top: -20px;
  z-index: 1;
}

.button {
  float: right;
  width: 100px;
  height: 40px;
  outline: none;
  line-height: 24px;
  margin: 8px 15px 0;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  background-color: #ea6f5a;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  transition: .1s ease-in;
  padding: 6px 12px;
}

.write:hover {
  color: #fff;
  background-color: #ec6149;
}

.write-icon {
  float: left;
}

.sing {
  width: 80px;
  height: 38px;
  line-height: 24px;
  margin: 9px 5px 0 15px;
  border: 1px solid rgba(236, 97, 73, .7);
  border-radius: 20px;
  font-size: 15px;
  color: #ea6f5a;
  background-color: transparent;
}

.sing:hover {
  color: #ec6149;
  border-color: #ec6149;
  background-color: rgba(236, 97, 73, .05);
}

.login,
.setting {
  background-color: transparent;
  width: auto;
  margin: 9px 6px 0 10px;
  ;
  font-size: 15px;
  line-height: 24px;
  color: #969696;
}

.tip-content-wrapper {
  padding: 20px 20px  10px;
}

.tip-header {
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #969696;
  display: flex;
  justify-content: space-between;

}

.change {
  cursor: pointer;
  font-size: 13px;
  user-select: none;
}
.changeIcon{
  font-size: 13px;
  margin-right: 2px;
  display: inline-block;
  height: 13px;
  line-height: 1;
  transition: transform .5s;
}

.content {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.tip {
  line-height: 28px;
  margin-right: 10px;
}

.tip >a {
  padding: 2px 6px;
  font-size: 12px;
  color: #787878;
  border: 1px solid #ddd;
  border-radius: 3px;
  pointer-events: none;
}
